@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/*  root  */ 
:root {

/* font */
    --ff-main: "Outfit";
    --ff-serif: "Young serif";

    --fs-serif-40px: 40px;
    --fs-serif-28px: 28px;
    --fs-outfit-20px: 20px;
    --fs-outfit-16px: 16px;
  
    --lh-serif-100: 100%;
    --lh-outfit-150: 150%;

    --ls: 0px;

    --fw-serif-400: 400;
    --fw-outfit-400: 400;
    --fw-outfit-600: 600;
    --fw-outfit-700: 700;


/*  Colors   */
    --White: #ffffff;

    --Stone-100: #f3e5d7;
    --Stone-150: #e4ded8;
    --Stone-600: #5f574e;
    --Stone-900: #302d2c;
    
    --Brown-800: #854632;
    
    --Rose-800: #7b284f;
    --Rose-50: #fff5fa;


/*  Spacing  */

    --sp-1600-128px: 128px;
    --sp-600-48px: 48px;
    --sp-500-40px: 40px;
    --sp-400-32px: 32px;
    --sp-300-24px: 24px;
    --sp-200-16px: 16px;
    --sp-150-12px: 12px;
    --sp-100-8px: 8px;
}


/*  reset */ 

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-outfit-400);
    font-size: var(--fs-outfit-16px);
    line-height: 150%;
    color: var(--Stone-600);
    background-color: var(--Stone-100);
    height: 100vh;
    
}

ul{
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    list-style: none;
}

li {
    margin-left: 0;
}

ul li {
    display: flex; 
    align-items: center; 
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

h1,
h2,
h3,
p{
    letter-spacing: 0px;
}

h1,
h2 {
    font-family: var(--ff-serif);
    line-height: var(--lh-serif-100);
    font-weight: var(--fw-serif-400);
}

h3,
p{
    font-family: var(--ff-main);
}

p {
    font-weight: var(--fw-outfit-400);
    color: var(--Stone-600);
}



.regular{
    font-size: var(--fs-outfit-16px);
    line-height: var(--lh-outfit-150);
 
}

.semi-bold{
    font-size: var(--fs-outfit-20px);
    line-height: var(--lh-serif-100);
}

.bold{
    font-weight: var(--fw-outfit-700) !important;
    color: var(--Stone-600);
}


.r_gap--128{
    margin-bottom: var(--sp-1600-128px);
}

.r_gap--48{
    margin-bottom: var(--sp-600-48px);
}

.r_gap--40{
    margin-bottom: var(--sp-500-40px);
}

.r_gap--32{
    margin-bottom: var(--sp-400-32px);
}

.r_gap--24{
    margin-bottom: var(--sp-300-24px);
}

.r_gap--16{
    margin-bottom: var(--sp-200-16px);
}

.r_gap--12{
    margin-bottom: var(--sp-150-12px);
}

.r_gap--8{
    margin-bottom: var(--sp-100-8px);
}

.divider{
    border: 0;
    border-top: 1px solid var(--Stone-150);
    margin: var(--sp-300-24px) 0;
    width: 100%;
}

/* main styling*/
/*--- Preperation ---*/
/*--- Ingredients ---*/
/*--- Instructions ---*/